<div id="home" class="view intro jarallax" style="background-image: url(/assets/images/banner-1.jpg); background-attachment: fixed; height: 1200px;">
<div class="full-bg-img mask pattern-2">
    <div class="container">
    <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
        <div class="row">
        <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
            <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">
                <span class="white-text">JAMES</span> 
                <a class="blue-text font-bold"> JOMUAD</a>
            </h2>
            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn text-info" data-wow-delay="0.4s">
                <i class="fa fa-less-than"></i>
                <i class="fa fa-hashtag"></i>
                <b class="orange-text"> Full Stack Web Developer </b>
                <i class="fa fa-greater-than"></i>
            </h5>
            <a mdbBtn href="#contact" color="light-blue" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">Hire Me</a>
            <a mdbBtn href="#about" color="indigo" size="lg" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">About me</a></div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>