<br id="about">
<div class="container">
  <!-- Section About -->
  <section class="section my-5 pb-4">
    <!-- Section title -->
    <h1 class="section-heading text-center mb-5 mt-5 pt-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">Who am I?</h1>

    <!-- First row -->
    <div class="row wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

      <!-- Place for photo -->
      <div class="col-lg-5 mb-2">
        <img src="assets/images/about.jpg" alt="James Jomuad" class="img-fluid z-depth-1">
      </div>

      <!-- Text content -->
      <div class="col-lg-7 pb-4">
        <p class="lead">I'm a Full Stack Web developer with 6+ years of experience.</p>
        <blockquote><p>I have worked in different types of industries, but I focused on web application/software development. I am passionate about creating website and worked on its design. I take my inspiration and passion from my environments &amp; colleague. I'm eager to learn new technologies in the internet. I can bring things from nothing into something.</p><p>Laravel and Linux server is one of my current expertise right now. With a strong core skills in PHP, HTML5, Javascript, Angular JS, XML, JSON, MySQL and follow strict OOP principles.</p><p>I'm open to Job opportunities, feel free to contact me.</p></blockquote>
      </div>

    </div>
    <!-- /.First row -->
  </section>
  <!-- /.Section About -->
</div>