<div id="home" class="view intro jarallax" style="background-image: url(/assets/images/404.jpg); background-attachment: fixed; height: 1500px;">
    <div class="full-bg-img">
        <div class="container">
        <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
            <div class="row">
                <div class="col-md-12 wow fadeIn mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="h1 orange-text"> <span class="blue-text">4</span>0<span class="blue-text">4</span> </h1>
                        <h3 class="white-text">This page could not be found!</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>